body {
  background: blueviolet;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 9rem;
  font-size: 3rem;
}

div {
  margin: 2rem 0;
}

button {
  text-transform: uppercase;
  padding: 1rem;
}

.highlight {
  font-size: 8rem;
  color: red;
  transition: all 2s;
}

.highlight2 {
  font-size: 3rem;
  color: #4cc04c;
  padding: 1rem;
  border: 3px solid #4cc04c;
  transition: all 2s;
}
